@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:30px;
    min-height: 100vh;
    background: #e3f2fd;
}
.wrapper
{
    width:65vmin;
    background: #293447;
    height:70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 20px 40px rgba(52,87,220,0.2);
}
.game-details
{
    color:#b8c6dc;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;

}
.play-board
{
    height:100%;
    width:100%;
    display: grid;
    background: #212837;
    grid-template: repeat(30,1fr)/repeat(30,1fr);
 
}

.play-board .food
{
    background: #ff003d;
}
.play-board .head
{
    background: #60cbff;
}
.controls
{
   display: none;
    
    justify-content: space-around;
}
.controls i
{
    padding:20px;
    text-align: center;
    font-size: 1.3rem;
    color:#b8c6dc;
    cursor: pointer;
    border-right: 1px solid #171b26;
}

@media screen and(max-width:800px)
{
    .wrapper
    {
        width:90vmin;
        height:115vmin;
    }
    .game-details
    {
        font-size: 1rem;
        padding: 15px 27px;

    }
    .controls
    {
        display: flex;

    }
    .controls i
    {
padding: 15px 0;
font-size: 1rem;    
}

}

.score-details
{
    width:200px;
    height:50px;
    padding: 40px;
    background: lightgray;
    border:2px solid gray;
    box-shadow: 0 0  100px black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color:black;
    flex-direction: column;
    gap:10px;
  
}
.play-again
{
    border:none;
    color:black;
    font-weight: bold;
    border:2px solid skyblue;
    padding:10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: linear-gradient(135deg,rgb(6, 174, 183),white,rgb(19, 149, 167));
    box-shadow: 0 0 10px black;
    cursor: pointer;
}